/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*custom fonts*/

@font-face {
    font-family: bobsmade;
    src: url(/fonts/bobsmade_handwrite_font_by_bobsmade-d5tr0b6.ttf);
}

@font-face {
    font-family: forwa;
    src: url(/fonts/FFFFORWA.ttf);
}
@font-face {
    font-family: ralewaylight;
    src: url(/fonts/Raleway-Light.otf);
}

@font-face {
    font-family: raleway;
    src:url(/fonts/Raleway-Regular.otf);
}


/* custpm styles */

body {
    background-color: #24243f;
    color: white;
}
.divider{
    height: 72px;
        background: url(/img/zigzag-01.svg);
        position: relative;
        top: 70px;
        background-size: cover;
}
.divider-inverse{
    height: 72px;
        background: url(/img/zigzag-01.svg);
        position: relative;
        top: -68px;
        background-size: cover;
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);

}

i.icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0px 12px;
    float: left;
  
}
i.icon.icon-dribble{
    background: url(/img/dribbble-01.svg); background-size: 100% 100%;
}

i.icon.icon-behance{
    background: url(/img/behance-01.svg); background-size: 100% 100%;
}
header {
    margin: 0 auto;
    max-width: 960px;
    padding: 10px;
    z-index: 999;
position: relative;
}
header > .logo {
    display: inline-block;
    margin: 24px 10px;
    font-family: bobsmade;
    letter-spacing: 8px;
    font-size: 23px;
}
header > .logo > img {
    width: 39px;

}
header > .menu {
    display: inline-block;
    float: right;
}
header > .menu ul {
    padding: 0px;
}
header > .menu ul li {
    display: inline-block;
    margin: 24px 38px 0px;
}
header > .menu ul li a{
    text-decoration: none;
    color: white;
    font-family: ralewaylight;
    letter-spacing: 2px;
    font-size: 15px;
}
/* general classes  */

.contains {
    margin: 0 auto;
    max-width: 960px;
    padding: 32px 0px;
}

.red {
    color: #f03049; 
}
.skyblue{
    color: #52e8de;
}

/* banner section area */
section.banner-page{
    max-width: 960px;
    margin: 0 auto;
    font-family: bobsmade;
}

section.banner-page .contains > span.intro , section.banner-page .contains > .device-image {
    display: block;
    text-align: center;
    min-width: 200px;
}
section.banner-page .contains > .device-image img {
    max-width: 240px;
    display: block;
    margin: 20px auto;
}
section.banner-page .contains > .intro {
    font-family: ralewaylight;
    letter-spacing: 3px;

}
section.banner-page .contains > .device-image .promo span {
    font-size: 32px;
    letter-spacing: 8px;
}
section.banner-page .contains > .big-logo{
    background: url(/img/spaceninja-border-01.svg);

    width: 268px;
    height: 61px;
    background-repeat: no-repeat;
    padding: 36px;
    font-size: 54px;
    letter-spacing: 8px;
    margin: 22px auto;
    background-size: cover;
    text-align: center;
}
/* tagline section area */

section.tagline{
    background-color: #f2f2f2;
    color: #828282;
    font-family: bobsmade;
}

section.tagline .contains > h1 {
    text-align: center;
    color: #f03049;
    font-size: 58px;
    font-family: bobsmade;
    letter-spacing: 4px;
    font-weight: 100;
}

section.tagline .contains > .tagline {
   text-align: center;
  display: block;
  font-size: 18px;
  margin: 0px 77px;
  margin-top: 105px;
  font-family: ralewaylight;
  color: #24243F;
}

/* developers informations css */

section.pro-info {
    background-color: #f2f2f2;

}
section.pro-info .container {
    max-width: 100%;
}
section.pro-info .contains > .title_head {
  text-align: center;
  display: block;
  color: #24243F;
  font-size: 28px;
  font-family: forwa;
  margin-bottom: 69px;
  margin-top: 11px;
}
section.pro-info .container > .list-pro{
    background-color: #f2f2f2;
    text-align: center;
}

section.pro-info .container > .list-pro ul.tab {
    padding: 0px;
    display: inline;
    color: blue;
    font-family: bobsmade;
}
section.pro-info .container > .list-pro ul.tab li.tabs{
    display: inline-block;
    font-size: 35px;
    line-height: 30px;
    max-width: 182px;
    padding: 21px 48px 24px 48px;
    position: relative;
    top: 20px;
    z-index: 1;
    color: #f03049;
    cursor: pointer;
}

section.pro-info .container > .list-pro ul.tab li.tabs.active{
    background: url(/img/box1-01.svg) no-repeat;
    color: #ffffff;
}
section.pro-info .container > .list-pro ul.tab li.tabs.active a{ 
    color: #ffffff;
}
section.pro-info .container > .list-pro ul.tab li.tabs a {
    text-decoration: none;
    color: #f03049; 

}

section.pro-info .contains {
    color: #828282;
}
section.pro-info .contains .list > .list-info:first-child{

    
}
section.pro-info .contains .list > .list-info {
   display: inline-block;
  
    
    
}
.active-pane {

    /*transition: all 1s;
   transform:translate(0,0);
   -moz-transform: translate(0,0);
   -webkit-transform: translate(0,0);*/
   -webkit-animation: mymove 1s; 
   animation: mymove 1s; 
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}
.go-left-hide {
    transition: all 1s;
    -moz-transform: translate(-300em,0) !important;
    -webkit-transform: translate(-300em,0 ) !important;
    transform:translate(-300em,0) !important;

    position: absolute;
}
@-webkit-keyframes mymove {
    from {
        transform:translate(300em,0);
       -moz-transform: translate(300em,0);
       -webkit-transform: translate(0,0);
    }
    to {
         transform:translate(0,0);
       -moz-transform: translate(0,0);
       -webkit-transform: translate(0,0);
    }
} 

/* Standard syntax */ 
@keyframes mymove {
    from {
        transform:translate(300em,0);
       -moz-transform: translate(300em,0);
       -webkit-transform: translate(0,0);
    }
    to {
         transform:translate(0,0);
       -moz-transform: translate(0,0);
       -webkit-transform: translate(0,0);
    }
}
section.pro-info .contains .list > .list-info.active{
    display: block;
}
section.pro-info .contains .list > .list-info > .profile-img{
    display: inline-block;
    padding: 86px;
    position: relative;
    top: -47px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    float: left;
    border-radius: 360px;
    margin: 49px 76px;
}

section.pro-info .contains .list > .list-info > .profile-img img{
   width: 16em;
    position: relative
}


section.pro-info .contains .list > .list-info > .profile-description{
    display: inline-block;
    padding: 0px 32px;
     font-family: bobsmade;
    max-width: 34em;
}


section.pro-info .contains .list > .list-info > .profile-description h1{
    color: #f03049;
    font-size: 38px;
    font-weight: 100;
    letter-spacing: 3px;
    margin: 0.67em 0 0.2em;
}

section.pro-info .contains .list > .list-info > .profile-description .description{
     font-family: ralewaylight;
     font-family: raleway;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 18px;
}

section.pro-info .contains .list > .list-info > .portfolio .title {
    text-align: center;
    font-family: bobsmade;
    font-size: 35px ;
    color: #000000;letter-spacing: 5px;

}
section.pro-info .contains .list > .list-info > .portfolio .list-portfolio {
    text-align: center;

}

section.pro-info .contains .list > .list-info > .portfolio .list-portfolio ul {
    list-style: none;
    padding: 0px;
}

section.pro-info .contains .list > .list-info > .portfolio .list-portfolio ul li {
    background: gray;
    max-width: 280px;
    width: 280px;
    height: 182px;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
} 

section.pro-info .contains .list > .list-info > .portfolio .list-portfolio ul li a {

}

section.pro-info .contains .list > .list-info > .portfolio .list-portfolio ul li a img {
        width: 280px;
    height: 182px;
    transition:all 1s;
}
section.pro-info .contains .list > .list-info > .portfolio .list-portfolio ul li a img:hover{
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
}
section.pro-info .contains .list > .list-info > .footer{
    margin-top: 60px;
}
section.pro-info .contains .list > .list-info > .footer  .left{
    display: inline-block;
    float: left;
    padding-left: 37px;
}
section.pro-info .contains .list > .list-info > .footer .left > h3 {
    font-family: bobsmade;
    font-size: 30px;
    color: #f03049;
    font-weight: 100;
    margin: 0em 0em -0.3em;
}
section.pro-info .contains .list > .list-info > .footer .left > ul {
    list-style: none;
    padding: 0;
}
section.pro-info .contains .list > .list-info > .footer .left > ul li {

}
section.pro-info .contains .list > .list-info > .footer .left > ul li img {}
section.pro-info .contains .list > .list-info > .footer .left > ul li a { 
    text-decoration: none;
    font-family: raleway;
    color: #828282;
    font-weight: 100;
    letter-spacing: 1px;
}
section.pro-info .contains .list > .list-info >  .footer .right{
    float: right;
}

section.pro-info .contains .list  > .list-info >  .footer .right .btn{
    background: url(/img/button-01.svg)no-repeat;
    border: none;
    padding: 34px;
    color: white;
    font-size: 25px;
    font-family: bobsmade;
}
.btn{
    background: url(/img/button-01.svg)no-repeat;
    border: none;
    padding: 11px 36px;
    color: white;
    font-size: 25px;
     font-family: bobsmade;
}

/*contact section*/
section.contact {
    background-color: #f2f2f2;
    color: #828282;
    font-family: bobsmade;
}

section.contact .contains > h1{
    text-align: center;
    font-size: 42px;
}
section.contact .contains > form label {
    display: block;
    text-align: center;
    font-size: 21px;
    margin: 23px;
}

section.contact .contains > form {
    max-width: 720px;       
        margin: 0 auto;
        font-family: ralewaylight;
}

section.contact .contains > form .text-input {
    border: 2px solid #24243f;
    padding: 11px 15px;
    width: 95%;
    margin: 10px 0px;
    background: transparent;        
}

iframe.anim {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
}
footer {
    
}
footer p{
    color: #828282;
                 text-align: center;
}

.list-ninjas {
    text-align: center;
}
.list-ninjas .list{
  display: inline-block;
    margin: 10px 31px;
  font-family: forwa;
    float: left;

}

.list-ninjas .list .head{ 
  max-width: 157px; 
}
.list-ninjas .list .head img{
  position: relative;
  left: -5px;
  width: 155px;
}

.list-ninjas .desc {
  background: url('/img/ninjabutton-active.png');
  display: block;
  height: 104px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 172px;
  margin-top: 22px;
  font-size: 12px;
  color: #FFF099;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 20px
}

.list-ninjas .desc span {
    margin-top: 24px;
  display: inline-block;
  max-width: 114px;
}
.list-ninjas .desc:active    {
  background: url('/img/ninjabutton-pressed.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-modal {
  height: 100%;
  background-color: gray;
  display: block;
  width: 65%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1009;
  animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}
.custom-modal-blanket{
  height: 100%;
  display: block;
  position: fixed;
  width: 100%;
  background-color: black;
  top: 0px;
  opacity: 0.5;
  z-index: 999;
}
